<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Data</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <style>
        div {
            width: 98.5%;
            margin: auto;
            box-sizing: border-box;
        }

        body {
            background-color: #eff8ff;
        }

        input,
        select {
            width: 100%;
            box-sizing: border-box;
            margin-top: 1em;
            height: 2.5em;
            padding: 0px 1%;
        }

        #save {
            background-color: #04a96d;
            color: white;
            border-style: none;
        }

        #cancel {
            color: white;
            background-color: #390dea;
            box-sizing: border-box;
            border-radius: 5px;
            border-style: none;
        }
    </style> -->
</head>

<body>
    <div style="width: 70%;margin: 1% auto;" class="card">
        <div class="card-header text-center">
            <h1 class="h2">Adding Data</h1>
        </div>
        <div class="card-body">
            <% let arr=biodata.filter((biodata)=>biodata.id==id); console.log(arr[0].name) %>
                <div style="width: 98%; margin: 1% auto;">
                    <form action="/<%= id==-1? `add` : `edit/${id}` %> " method="post">
                        <input class="form-control" type="text" id="name" name="name" placeholder="insert your name"
                            required value=<%=id==-1?'':`${arr[0].name}` %>><br>
                        <input class="form-control" type="number" min="0" id="height" name="height"
                            placeholder="insert your height" value=<%=id==-1?'':arr[0].height %>><br>
                        <input class="form-control" type="number" min="0" step="0.001" id="weight" name="weight"
                            placeholder="insert your weight" value=<%=id==-1?'':arr[0].weight %>><br>
                        <input class="form-control" type="date" id="birthdate" name="birthdate"
                            value=<%=id==-1?'':arr[0].birthdate %>><br>
                        <select class="form-select" name="married" id="married">
                            <option value="" disabled <%=id!=-1? '' :'selected' %> hidden>Have you married?</option>
                            <option value="true" <%=id==-1? '' : arr[0].married? 'selected' :'' %> >True</option>
                            <option value="false" <%=id==-1? '' :arr[0].married? '' :'selected' %>>False</option>
                        </select>
                        <input style="display: none;" id="save" type="submit" value="Save">
                    </form>

                </div>
        </div>
        <div class="card-footer">
            <label class="btn btn-info float-start" for="save">Save</label>
            <form action="/" method="get"><input style="margin-left: 0.5%;" class="btn btn-warning" id="cancel" type="button"
                    onclick="window.location.href='/'" value="Cancel">
            </form>
        </div>
    </div>


</body>

</html>