<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD (Create, Read, Update, Delete)</title>
    <style>
        body {
            background-color: #eff8ff;
            box-sizing: border-box;
            margin: auto;
            width: 98%;
        }

        tr {
            height: 2.5em;
        }


        table {
            width: 100%;
            border-color: #dfdfe0;
            border-spacing: 0;
            border-style:solid;
            margin-top: 10px;
            padding-left: 1%;
            box-sizing: border-box;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th{
            text-align: left;
        }

        button {
            width: 100%;
            height: 2.5em;
            border-radius: 5px;
            border-style: none;
            color: white;
            background-color: #390dea;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <h1>JSON CRUD (Create, Read, Update, Delete)</h1>
    <button onclick="window.location.href='/add'"> Create</button>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Birth Date</th>
                <th>Is Married</th>
                <th>Action</th>
            </tr>
        </thead>
        <% biodata.forEach((isi, index)=> { %>
            <tr>
                <td>
                    <%= index + 1 %>
                </td>
                <td>
                    <%= isi.name %>
                </td>
                <td>
                    <%= isi.height %>
                </td>
                <td>
                    <%= isi.weight %>
                </td>
                <td>
                    <%= isi.birthdate %>
                </td>
                <td>
                    <%= isi.married? 'Yes' : 'Not yet' %>
                </td>
                <td><a href="/edit/<%= index %>">Update</a> <a
                        onclick="return confirm('apakah kamu yakin menghapus data <%= isi.name%>')"
                        href="/delete/<%= index %>">Delete</a></td>
            </tr>
            <% }) %>
    </table>
</body>

</html>