<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BREAD (Browse, Read, Edit, Add, Delete)</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <style>
        body {
            background-color: #eff8ff;
            box-sizing: border-box;
            margin: auto;
            width: 98%;
        }

        tr {
            height: 2.5em;
        }


        table {
            width: 100%;
            border-color: #dfdfe0;
            border-spacing: 0;
            border-style: solid;
            margin-top: 10px;
            padding-left: 1%;
            box-sizing: border-box;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            text-align: left;
        }

        button {
            width: 100%;
            height: 2.5em;
            border-radius: 5px;
            border-style: none;
            color: white;
            background-color: #390dea;
            box-sizing: border-box;
        }
    </style> -->
</head>

<body>
    <div class="card" style="width: 70%;margin: 1% auto;">
        <div class="card-header text-center">
            <h1 class="h2">SQLite BREAD (Browse, Read, Edit, Add, Delete) and Pagination</h1>
        </div>
        <div class="card-body">
            <form action="/search" method="get">
                <div class="row mb-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name"
                            <%=!search?'':search.name?`value=${search.name} `:'' %>>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputHeight" class="col-sm-2 col-form-label">Height</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="height" name="height"
                            <%=!search?'':search.height?`value=${search.height} `:'' %> >
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputWeight" class="col-sm-2 col-form-label">Weight</label>
                    <div class="col-sm-10">
                        <input type="number" step="0.001" class="form-control" id="weight" name="weight" <%=!search?''
                            :search.weight?`value=${search.weight} `:'' %> >
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputBirthdate" class="col-sm-2 col-form-label">Birthdate</label>
                    <div class="col-sm-10">
                        <div class="row g-3">
                            <div class="col">
                                <input type="date" name="date1" id="date1" class="form-control" <%=!search?''
                                    :search.date1?`value=${search.date1} `:'' %>>
                            </div>
                            <div class="col-sm-1 text-center"> s.d.</div>
                            <div class="col">
                                <input type="date" name="date2" id="date2" class="form-control" <%=!search?''
                                    :search.date2?`value=${search.date2} `:'' %> >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputMarried" class="col-sm-2 col-form-label">is Married</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="married" id="married">
                            <option value="" disabled <%=typeof search.married=='undefined'? 'selected' :''%> hidden> -select
                                married-
                            </option>
                            <option value="true" <%=search.married===true ?`selected`:'' %>
                                <%console.log(typeof search.married)%>>True
                            </option>
                            <option value="false" <%=search.married===false ?`selected`:'' %>
                                >False</option>

                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputOperation" class="col-sm-2 col-form-label">Operation</label>
                    <div class="col-sm-10">
                        <div class="col-sm-1 float-start">
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="operation" id="operationor"
                                    value="OR" <%=!search?'' :!search.operation?'checked': search.operation=='OR'
                                    ? 'checked' :'' %>>
                                <label class="form-check-label" for="operationor">OR</label>
                            </div>
                        </div>
                        <div style="margin-left: 4em;" class="col-sm1">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="operation" id="operationand"
                                    value="AND" <%=!search?'' :!search.operation?'': search.operation=='AND' ? 'checked'
                                    :'' %>>
                                <label class="form-check-label" for="operationand">AND</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" method="post" class="btn btn-info" style="margin-right: 0.5%; width: 6em;">Search</button>
                <a class="btn btn-warning" style="width: 6em;" href="/">Reset</a>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Birth Date</th>
                        <th>Is Married</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <% biodata.forEach((isi, index)=> { %>
                    <tr>
                        <td>
                            <%= limit*(page-1)+index+1 %>
                        </td>
                        <td>
                            <%= isi.name %>
                        </td>
                        <td>
                            <%= isi.height %>
                        </td>
                        <td>
                            <%= isi.weight %>
                        </td>
                        <td>
                            <%= isi.birthdate %>
                        </td>
                        <td>
                            <%= isi.married? 'Yes' : 'Not yet' %>
                        </td>
                        <td>
                            <a class="btn btn-success" style="width: 6em;" href="/edit/<%= isi.id %>">Update</a>
                            <a class="btn btn-danger" style="width: 6em;"
                                onclick="return confirm(`apakah kamu yakin menghapus data '<%= isi.name%>'`)"
                                href="/delete/<%= isi.id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary float-start" style="width: 6em;" onclick="window.location.href='/add'">Add</a>
            <nav class="float-end" aria-label="Page navigation example">
                <ul class="pagination">
                    <%if (page>1){%>
                        <li class="page-item">
                            <a class="page-link" href="<%= url.replace(`page=${page}`,`page=${page-1}`)%>"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% }%>
                            <% for (let i=1;i<=Math.ceil(banyak/limit);i++){%>
                                <li class="page-item"><a class="page-link <%= page==i? 'active':''%>"
                                        href="<%= url.replace(`page=${page}`,`page=${i}`)%>">
                                        <%=i%>
                                    </a></li>
                                <%}%>
                                    <%if (page<Math.ceil(banyak/limit)){%>
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="<%= url.replace(`page=${page}`,`page=${page+1}`)%>"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <% }%>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>